<footer>
  <div class="row primary">
    <div class="column about">

      <h3>Foolish Developer</h3>

      <p>
        We bring professional chefs to your home to prepare delicious, customized meals at a fraction of the cost.
        Our chef is ready to make this a unique experience for you so that you can get back to the things that matter.
      </p>


    </div>

    <div class="column links">
      <h3>Some Links</h3>

      <ul>


        <li>
          <a href="/login">Sign in</a>
        </li>
        <li>
          <a href="/register">Have an account?</a>
        </li>
        <li>
          <a href="/contact-with-us">Need a support?</a>
        </li>
      </ul>

    </div>


    <div class="column links">
      <h3>Some Links</h3>
      <ul>

        <li>
          <a href="/privacy-policy">Privacy policy</a>
        </li>
        <li>
          <a href="/salads">Salads</a>
        </li>
        <li>
          <a href="/sushi">Sushi</a>
        </li>
        <li>
        <a href="/pasta">Pasta</a>
      </li>
      </ul>
    </div>


    <div class="column links">
      <h3>Some Links</h3>
      <ul>

        <li>
          <a href="/deserts">Deserts</a>
        </li>
        <li>
          <a href="/liquids">Liquids</a>
        </li>
        <li>
          <a href="/dishes">Dishes</a>
        </li>

      </ul>
    </div>

  </div>

  <div class="row copyright">

    <p style="text-align: center;color: yellowgreen;font-size: 20px">Copyright &copy; 2022  Developer</p>

  </div>
</footer>
