<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Address</div>
        <div class="text-one">Surkhet, NP12</div>
        <div class="text-two">Birendranagar 06</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone-alt"></i>
        <div class="topic">Phone</div>
        <div class="text-one">+0098 9893 5647</div>
        <div class="text-two">+0096 3434 5678</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic">Email</div>
        <div class="text-one">codinglab@gmail.com</div>
        <div class="text-two">info.codinglab@gmail.com</div>
      </div>
    </div>
    <div class="right-side">
      <div class="topic-text">Send us a message</div>
      <p>If you have any work from us or any types of queries related to ours tutorial, you can send us a  message from here. It's ours pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <label for="subject">Name</label>
          <input type="text" placeholder="Enter your name">

        </div> <br>
        <div class="input-box">
          <label for="subject">Email</label>
          <input type="text" placeholder="Enter your email">
        </div>

        <br>

        <div class="input-box message-box">

          <div class="row">
            <div class="col-25">
              <label for="subject">Subject</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:150px"></textarea>
            </div>
          </div>

        </div>
        <br>
        <br>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
