.pastaContainer{
  width: 99%;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
}
.pastaContainer ul{
  padding: 0px;
  margin: 0px;
}

.pastaContainer ul li{
  list-style: none;
  float: left;
  width: 45%;
  height: 480px;
  margin:40px 30px 0px 30px;
}


section {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 400px;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 5;
  background: whitesmoke;
  padding: 20px;
  text-align: center;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 7;
  background-color: ghostwhite;
  padding: 10px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 30%;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;

}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}


.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.text{
  font-size: 17px;
}

.image:hover{
  transform: scale(1.2);
}

.head{
  font-size: 20px;
}

.weightHeader{
  font-size: 18px;
}

.weightPrice{
  font-size: 18px;
}


@media (max-width:320px)  {

  .pastaContainer ul li section nav{
    width: 85%;
    height: 40%;

  }

  .pastaContainer ul li section article{
    width: 85%;
    height: 45%;
  }

  .pastaContainer ul li section article h1 p p {
    font-size: 15px;
  }


  .image{
    width: 120px;
    height: 120px;
  }

  .head{
    font-size: 10px;
  }

  .weightHeader{
    font-size: 10px;
  }

  .weightPrice{
    font-size: 10px;
  }

  .text{
    font-size: 10px;
  }

}



@media (max-width:480px)  {


  .pastaContainer ul li section nav{
    width: 85%;
    height: 40%;

  }

  .pastaContainer ul li section article{
    width: 85%;
    height: 45%;
  }

  .pastaContainer ul li section article h1 p p {
    font-size: 15px;
  }


  .image{
    width: 150px;
    height: 150px;
  }

  .head{
    font-size: 12px;
  }

  .weightHeader{
    font-size: 12px;
  }

  .weightPrice{
    font-size: 12px;
  }

  .text{
    font-size: 12px;
  }
}


@media (max-width:600px)  {

  .pastaContainer ul li section nav{
    width: 85%;
    height: 48%;

  }

  .pastaContainer ul li section article{
    width: 85%;
    height: 55%;
  }

  .pastaContainer ul li section article h1 p p {
    font-size: 17px;
  }


  .image{
    width: 170px;
    height: 170px;
  }

  .head{
    font-size: 14px;
  }

  .weightHeader{
    font-size: 14px;
  }

  .weightPrice{
    font-size: 14px;
  }

  .text{
    font-size: 14px;
  }

}

@media (max-width:801px)  {

  .pastaContainer ul li section nav{
    width: 85%;
    height: 48%;

  }

  .pastaContainer ul li section article{
    width: 100%;
    height: 54%;
  }

  .pastaContainer ul li section article h1 p p {
    font-size: 18px;
  }


  .image{
    width: 180px;
    height: 180px;
  }

  .head{
    font-size: 16px;
  }

  .weightHeader{
    font-size: 16px;
  }

  .weightPrice{
    font-size: 16px;
  }

  .text{
    font-size: 16px;
  }


}


@media (max-width:1025px) {

  .pastaContainer ul li section nav{
    width: 85%;
    height: 55%;

  }

  .pastaContainer ul li section article{
    width: 100%;
    height: 61%;
  }

  .pastaContainer ul li section article h1 p p {
    font-size: 18px;
  }


  .image{
    width: 200px;
    height: 200px;
  }

  .head{
    font-size: 15px;
  }

  .weightHeader{
    font-size: 15px;
  }

  .weightPrice{
    font-size: 15px;
  }

  .text{
    font-size: 15px;
  }


}


@media (max-width:1281px) {

}
