

<div class="pastaContainer">
<ul>
  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376.png" height="280" width="280" class="image"/></nav>
      <article>
        <h1 class="head" style="text-align: center;" data-key="1">Spaghetti Bolognese</h1>
        <p class="weightHeader" style="text-align: center;">Spaghetti with tomato sauce with minced beef and pork and parmesan.</p>
        <p  data-key="1" class="weightPrice">15.79lv | 420gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="1" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="1" (click)="buyElement($event)">Buy</button>
        </ul>

        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button  data-key="1" class="button button3" style=";width:45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="1" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="1" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
          <button   data-key="1"  style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

        </div>

      </article>
    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;

  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376 (1).png" height="280" width="280"  class="image"/>
      </nav>
      <article>
        <h1 class="head" style="text-align: center">Spaghetti how is Pepe</h1>
        <p class="weightHeader" style="text-align: center;">Spaghetti with Burrata mozzarella, parmesan, arugula, light sauce with butter, cream,
          black pepper and truffle.</p>
        <p data-key="2" class="weightPrice">12.59lv | 300 gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="2" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="2" (click)="buyElement($event)">Buy</button>
        </ul>

        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button  data-key="2" class="button button3" style="width: 45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="2" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="2" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
          <button data-key="2" style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

        </div>

      </article>

    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;


  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376 (2).png"  height="280" width="280"  class="image"/>
      </nav>
      <article>
        <h1 class="head" style="text-align: center;">Spaghetti Frutti di mare</h1>
        <p class="weightHeader" style="text-align: center;">Spaghetti with squid, shrimp, salmon, cream sauce, tomatoes,
          garlic, fresh spices and truffle.</p>
        <p data-key="3" class="weightPrice">16.99lv | 340gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="3" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="3" (click)="buyElement($event)">Buy</button>
        </ul>
        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button data-key="3" class="button button3" style="width: 45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="3" class="weight" style="border:none;font-size: 17px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="3" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

          <button data-key="3" style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

        </div>

      </article>


    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;
  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376 (3).png"  height="280" width="280"  class="image"/></nav>

      <article>
        <h1 class="head" style="text-align: center">Spaghetti with Shrimps</h1>
        <p class="weightHeader" style="text-align: center">Spaghetti with Alfredo sauce with fresh tomatoes, shrimp,
          basil, garlic oil and parmesan.</p>
        <p data-key="4" class="weightPrice">15.99lv | 290gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="4" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="4" (click)="buyElement($event)">Buy</button>
        </ul>
        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button data-key="4" class="button button3" style="width: 45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="4" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="4" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
          <button data-key="4" style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>
        </div>
      </article>
    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;

  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376 (4).png"  height="280" width="280" class="image"/>
      </nav>
      <article>
        <h1 class="head" style="text-align: center">Spaghetti with Mushrooms</h1>
        <p class="weightHeader" style="text-align: center">Spaghetti with sauce with mushrooms,
          mushrooms and cream, truffle oil, parsley and parmesan.</p>
        <p data-key="5" class="weightPrice">14.49lv | 270gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="5" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="5" (click)="buyElement($event)">Buy</button>
        </ul>
        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button data-key="5" class="button button3" style="width: 45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="5" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="5" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
          <button data-key="5" style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>
        </div>
      </article>
    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;


  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376 (5).png"  height="280" width="280" class="image"/>
      </nav>
      <article>
        <h1 class="head" style="text-align: center">Spaghetti Carbonara</h1>
        <p class="weightHeader" style="text-align: center">Spaghetti with cream sauce with bacon and eggs, Prosciutto Cotto and Parmesan.</p>
        <p data-key="6" class="weightPrice">13.99lv | 300gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="6" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="6" (click)="buyElement($event)">Buy</button>
        </ul>

        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button data-key="6" class="button button3" style="width: 45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="6" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="6" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
          <button data-key="6" style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>
        </div>
      </article>

    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;
  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376 (6).png"  height="280" width="280" class="image"/></nav>

      <article>
        <h1 class="head" style="text-align: center">Spaghetti with pumpkin and Sausage</h1>
        <p class="weightHeader" style="text-align: center">With mushrooms, truffle and parmesan.</p>
        <p data-key="7" class="weightPrice">14.99lv | 340gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="7" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="7" (click)="buyElement($event)">Buy</button>
        </ul>

        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button data-key="7" class="button button3" style="width: 45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="7" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="7" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
          <button data-key="7" style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>
        </div>
      </article>
    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;
  <li>
    <section>
      <nav>
        <img src="../../../assets/pasta/fit_600_376 (7).png"  height="280" width="280"  class="image"/>
      </nav>
      <article>
        <h1 class="head" style="text-align: center;">Spaghetti with Crispy chicken</h1>
        <p class="weightHeader" style="text-align: center">Spaghetti with crispy chicken, cream sauce,
          sauteed spinach, sun-dried tomatoes, parmesan, green onions and parsley.</p>
        <p data-key="8" class="weightPrice">16.99lv | 350gr</p>
        <ul class="product-action" style="text-align: center">
          <button class="button button3" data-key="8" (click)="change($event)">Change</button>
          <button  class="button button1" data-key="8" (click)="buyElement($event)">Buy</button>
        </ul>

        <div  style="text-align: center" >
          <p class="text" style="font-weight: bold">Weight | Final price</p>
          <button data-key="8" class="button button3" style="width: 45px;font-size: 17px;text-align: center" (click)="minus($event)">-</button>
          <input data-key="8" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
          <input data-key="8" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
          <button data-key="8" style="width: 45px;font-size: 17px;text-align: center"  class="button button1" (click)="plus($event)">+</button>
        </div>

      </article>

    </section>
  </li>
  &nbsp;
  &nbsp;
  &nbsp;
</ul>
</div>



