

<div class="container">


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (1).png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="2" class="text" style="text-align: center;">Cream cake with pumpkin and apples</h3>
      <ul class="price">
        <li><p style="text-align: center;font-size: 20px;">Homemade biscuit cake with philadelphia cream,pumpkin jam,apples,walnuts and cinnamon.</p></li>
        <li><p  class="text" data-key="2" style="font-size: 20px">7.79 lv |  190  gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="2" (click)="change($event)">Change</button>
        <button  class="button button1" data-key="2" (click)="buyElement($event)">Buy</button>
      </ul>
      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="2" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="2" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="2" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
        <button data-key="2" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (2).png"  height="175" width="380" class="images"/>
      </a>
      <h3 data-key="3" class="text" style="text-align: center">Baked cheesecake with oranges and figs</h3>
      <ul class="price">
        <li><p style="text-align: center;font-size: 20px">Baked cheesecake with oranges, Philadelphia, mascarpone and ricotta, homemade fig jam.</p></li>
        <li><p class="text" data-key="3" style="font-size: 20px">6.49 lv | 85  gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="3" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="3" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="3" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="3" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="3" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="3" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>

    </div>
  </div>

  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (3).png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="4" class="text" style="text-align: center;font-size: 20px">Homemade roast pumpkin pie</h3>
      <ul class="price">
        <li><p style="font-size: 20px;text-align: center">Homemade pie with roasted pumpkin, wrapped in milk cream and crispy caramel crust.</p></li>
        <li><p  class="text" data-key="4" style="font-size: 20px">16.99lv  | 370gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="4" (click)="change($event)">Change</button>
        <button  class="button button1" data-key="4" (click)="buyElement($event)">Buy</button>
      </ul>
      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="4" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="4" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="4" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="4" style="width: 50px;font-size: 20px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>

    </div>
  </div>

  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (4).png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="5" class="text" style="text-align: center">Baked pumpkin with honey and nuts</h3>
      <ul class="price">
        <li><p style="font-size: 20px;text-align: center">Baked pumpkin with honey and nuts</p></li>
        <li><p class="text" data-key="5" style="font-size: 20px">18.99 lv| 425  gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="5" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="5" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="5" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="5" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="5" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="5" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>

    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (5).png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="6" class="text" style="text-align: center">Baked pumpkin with honey and nuts</h3>
      <ul class="price">
        <li><p style="font-size: 20px;text-align: center">Baked pumpkin with honey and nuts</p></li>
        <li><p class="text" data-key="6" style="font-size: 20px">29.99 lv| 570  gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="6" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="6" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="6" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="6" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="6" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="6" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>

    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (6).png" height="175" width="380" class="images"/>

      </a>
      <h3 data-key="7" class="tex" style="text-align: center;">Vegan cake bounty</h3>
      <ul class="price">
        <li><p style="font-size: 20px;text-align: center">Coconut cream on dried fruit cake with natural chocolate and coconut chips. Sugar-free, gluten-free, flour-free and dairy-free.</p></li>
        <li><p class="text" data-key="7" style="font-size: 20px">5.49 lv | 80  gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="7" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="7" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="7" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="7" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="7" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="7" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>

    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (7).png" height="175" width="380" class="images"/>

      </a>
      <h3 data-key="8" class="text" style="text-align: center">Chocolate cake with lindt</h3>
      <ul class="price">
        <li><p style="font-size: 20px;text-align: center">Cake of fine milk chocolate and sponge cake, sprinkled with cocoa.</p></li>
        <li><p class="text" data-key="8" style="font-size: 20px">4.99 lv | 100  gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="8" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="8" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="8" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="8" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="8" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="8" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>
    </div>
  </div>

  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (8).png"  height="175" width="380" class="images"/>
      </a>
      <h3 data-key="9" class="text" style="text-align: center;">Souffle with liquid Chocolate center</h3>
      <ul class="price">
        <li><p style="text-align: center;font-size: 20px">Souffle with a liquid center of chocolate. The product is on sale and is not subject to additional discounts.</p></li>
        <li><p data-key="9" style="font-size: 20px">7.49 lv | 140   gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="9" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="9" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="9" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="9" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="9" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="9" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>
    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (9).png" height="175" width="380" class="images" />
      </a>
      <h3 data-key="10" class="text" style="text-align: center;">Nutella cookie cake</h3>
      <ul class="price">
        <li><p style="text-align: center;font-size: 20px">Homemade cake with biscuits, mascarpone cream, sour cream and chocolate.</p></li>
        <li><p data-key="10" style="font-size: 20px">4.99 lv | 150 gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="10" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="10" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="10" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="10" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="10" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="10" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>
    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
     <img src="../../../assets/desserts/fit_600_376 (10).png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="11" class="text" style="text-align: center;">Creme Brulee</h3>
      <ul class="price">
        <li><p data-key="11" style="font-size: 20px;text-align: center">Sour cream with a topping of your choice.</p></li>
        <li><p data-key="11" style="font-size: 20px">3.69 lv | 150 gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="11" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="11" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="11" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="11" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="11" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">
        <button data-key="11" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>
      </div>
    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (11).png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="12" class="text" style="text-align: center;">Creme brule</h3>
      <ul class="price">
        <li><p data-key="12" style="font-size: 20px">Whipped cream. The product is on sale and is not subject to additional discounts.</p></li>
        <li><p data-key="12" style="font-size: 20px">18.99lv | 265 gr</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="12" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="12" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="12" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="12" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="12" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="12" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>
    </div>
  </div>

  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (1)nirvane1.png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="13" class="text" style="text-align: center">Nirvane cookies and cream 150 ML</h3>
      <ul class="price">
        <li><p data-key="13" style="font-size: 20px;text-align: center">
          Ice cream flavored with vanilla and pieces of cocoa cookies.</p></li>
        <li><p data-key="13" style="font-size: 20px">3.29 lv | 150 ML</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="13" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="13" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="13" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="13" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="13" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="13" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>
    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376 (2)nirvane3.png" height="175" width="380" class="images"/>
      </a>
      <h3 data-key="14" class="text" style="text-align: center;">Nirvana chocolate and choco chips 150 ML</h3>
      <ul class="price">
        <li><p style="text-align: center;font-size: 20px">Chocolate ice cream with chocolate chips.</p></li>
        <li><p data-key="14" style="font-size: 20px">3.29 lv | 150 ML</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="14" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="14" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="14" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="14" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="14" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="14" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>
    </div>
  </div>


  <div class="box">
    <div class="product-item-wrapper">
      <a href="" style="text-align: center">
        <img src="../../../assets/desserts/fit_600_376nirvana2.png" height="175" width="380" class="images"/></a>
      <h3 data-key="15" class="text" style="text-align: center;">Ice cream with caramel syrup and caramelized nuts.</h3>
      <ul class="price">
        <li><p style="font-size: 20px;text-align: center">Ice cream with caramel syrup and caramelized nuts.</p></li>
        <li><p data-key="15" style="font-size: 20px">4.49 lv | 150 ML</p></li>
      </ul>
      <ul class="product-action">
        <button class="button button3" data-key="15" (click)="change($event)">Change</button>

        <button  class="button button1" data-key="15" (click)="buyElement($event)">Buy</button>

      </ul>

      <div class="none" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button data-key="15" class="button button3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input data-key="15" class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input data-key="15" class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button data-key="15" style="width: 50px;text-align: center"  class="button button1" (click)="plus($event)">+</button>

      </div>
    </div>
  </div>


</div>
