

  <div class="card">
    <h2 style="text-align:center">{{informations.headerInfo}}</h2>
    <img src="{{informations.img}}" alt="Denim Jeans" style="width:100%">
    <p class="price">{{informations.price}}lv {{informations.weight}}gr</p>
    <p>{{informations.text}}</p>
    <p><button class="need" (click)="need($event)">Need more?</button></p>
    <div class="buttonsPlusMinus" style="display: none">
      <div class="btns" style="text-align: center" >
        <p class="text" style="font-weight: bold">Weight | Final price</p>
        <button class="btn btn3" style="width: 50px;font-size: 20px;text-align: center" (click)="minus($event)">-</button>
        <input  class="weight" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text"><cite style="font-weight: bold;font-size: 25px">|</cite>
        <input  class="prices" style="border:none;font-size: 20px;width: 60px;height: 30px;background-color: white" type="text">

        <button  style="width: 50px;font-size: 20px;text-align: center"  class="btn btn1" (click)="plus($event)">+</button>

      </div>
    </div>
    <p><button class="need" (click)="buyElement($event)">Buy</button></p>
  </div>


