<div class="container"   >
  <ul *ngFor="let data of info">
    <li>
     <div class="boxes">
       <img src="{{data[0].img}}" height="150" width="260" class="images"/>
     </div>
      <br>
      <h3 data-key="1" class="textHeader" style="text-align: center;font-size: 20px">{{data[0].headerInfo}}</h3>
      <p  class="text" data-key="1">{{data[0].price}}lv | {{data[0].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
       <a class="link" [routerLink]="['/menu',data[0].headerInfo]"> <button class="button button3" data-key="1">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
      <p class="display">Spicy pepperoni salami, mozzarella, aromatic tomato sauce and fresh basil.</p>
    </li>

    <li>
      <div class="boxes">
        <img src="{{data[1].img}}" height="150" width="260" class="images"/></div>

      <br>
      <h3 data-key="2" class="textHeader" style="text-align: center;font-size: 20px">{{data[1].headerInfo}}</h3>
      <p  class="text" data-key="2">{{data[1].price}}lv | {{data[1].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[1].headerInfo]"><button class="button button3" data-key="2">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
    <p class="display">Prosciutto Cotto, fresh mushrooms, artichoke, olives, mozzarella, aromatic tomato sauce, oregano and fresh basil.</p>
    </li>

    <li>
      <div class="boxes">
        <img src="{{data[2].img}}" height="150" width="260" class="images"/></div>
      <br>
      <h3 data-key="3" class="textHeader" style="text-align: center;font-size: 20px">{{data[2].headerInfo}}</h3>
      <p  class="text" data-key="3">{{data[2].price}}lv | {{data[2].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
       <a class="link" [routerLink]="['/menu',data[2].headerInfo]"> <button class="button button3" data-key="3">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
     <p class="display">Mozzarella, aromatic tomato sauce, oregano and fresh basil.</p>
    </li>

    <li>
      <div class="boxes">
        <img src="{{data[3].img}}" height="150" width="260" class="images" /></div>

      <br>
      <h3 data-key="4" class="textHeader" style="text-align: center;font-size: 20px">{{data[3].headerInfo}}</h3>
      <p  class="text" data-key="4">{{data[3].price}}lv | {{data[3].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[3].headerInfo]"><button class="button button3" data-key="4">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
      <p class="display">Ventricina salami, mozzarella, aromatic tomato sauce, fresh basil.</p>
    </li>

    <li>
      <div class="boxes">

        <img src="{{data[4].img}}" height="150" width="260" class="images" /></div>

      <br>
      <h3 data-key="5" class="textHeader" style="text-align: center;font-size: 20px">{{data[4].headerInfo}}</h3>
      <p  class="text" data-key="5">{{data[4].price}}lv | {{data[4].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[4].headerInfo]"><button class="button button3" data-key="5">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
       <p class="display">Mozzarella, buffalo mozzarella, aromatic tomato sauce, oregano and fresh basil.</p>
    </li>

    <li>
      <div class="boxes">
        <img src="{{data[5].img}}" height="150" width="260" class="images" /></div>

      <br>
      <h3 data-key="6" class="textHeader" style="text-align: center;font-size: 20px">
        {{data[5].headerInfo}}</h3>
      <p  class="text" data-key="6">{{data[5].price}} lv | {{data[5].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[5].headerInfo]"><button class="button button3" data-key="6">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
     <p class="display">Bacon, mascarpone cheese, Philadelphia cheese, aromatic tomato sauce and fresh basil.</p>
    </li>

    <li>
      <div class="boxes">
        <img src="{{data[6].img}}" height="150" width="260" class="images" /></div>

      <br>
      <h3 data-key="7" class="textHeader" style="text-align: center;font-size: 20px">
        {{data[6].headerInfo}}</h3>
      <p  class="text" data-key="7">{{data[6].price}}lv | {{data[6].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[6].headerInfo]"><button class="button button3" data-key="7">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>

       <p class="display">Tender pulled beef, Prosciutto Cotto, spicy pepperoni salami, bacon,
         Scamortza cheese, mozzarella, aromatic tomato sauce, mushrooms and fresh basil.
       </p>
    </li>

    <li>
      <div class="boxes">
        <img src="{{data[7].img}}" height="150" width="260" class="images" /></div>
      <br>
      <h3 data-key="8" class="textHeader" style="text-align: center;font-size: 20px">
        {{data[7].headerInfo}}</h3>
      <p  class="text" data-key="8">{{data[7].price}} lv | {{data[7].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[7].headerInfo]"><button class="button button3" data-key="8">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>

    <p class="display">Topped with crisp pieces of salt bacon, tender mushrooms, plenty of gooey cheese,
      and finished with a perfectly cooked egg ,
      Carbonara Pizza is the pizza recipe you didn’t know was missing from your life.</p>
    </li>


    <li>
      <div class="boxes">
        <img src="{{data[8].img}}" height="150" width="260" class="images" /></div>
      <br>
      <h3 data-key="9" class="textHeader" style="text-align: center;font-size: 20px">
        {{data[8].headerInfo}}</h3>
      <p  class="text" data-key="9">{{data[8].price}}lv | {{data[8].weight}} gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[8].headerInfo]"><button class="button button3" data-key="9">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>

      <p class="display">Grilled vegetables, artichoke, olives, cherry tomatoes, aromatic tomato sauce, fresh basil.</p>
    </li>


    <li>
      <div class="boxes">

        <img src="{{data[9].img}}" height="150" width="260"  class="images" /></div>
      <br>
      <h3 data-key="10" class="textHeader" style="text-align: center;font-size: 20px">
        {{data[9].headerInfo}}</h3>
      <p  class="text" data-key="10">{{data[9].price}}lv | {{data[9].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link"  [routerLink]="['/menu',data[9].headerInfo]"><button class="button button3" data-key="10">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
  <p class="display">The pungent taste of truffle gives this pizza a luxurious flavour, but it being a Lo-Dough pizza.</p>

    </li>

    <li>
      <div class="boxes">
        <img src="{{data[10].img}}" height="150" width="260" class="images" /></div>
      <br>
      <h3 data-key="11" class="textHeader" style="text-align: center;font-size: 20px">
        {{data[10].headerInfo}}</h3>
      <p  class="text" data-key="11">{{data[10].price}}lv | {{data[10].weight}}gr</p>
      <ul class="product-action" style="text-align: center">
        <a class="link" [routerLink]="['/menu',data[10].headerInfo]"><button class="button button3" data-key="11">Change</button></a>
        <button  class="button button1" (click)="buyElement($event)">Buy</button>
      </ul>
      <p class="display">Mozzarella, homemade tomato sauce, olives, arugula, parmesan pesto and fresh cherry tomatoes.</p>

    </li>


    <li>
      <div class="boxes">
        <img src="{{data[11].img}}" height="165" width="275" class="images"/>
        <br>
        <h3 data-key="12" class="textHeader" style="text-align: center;font-size: 20px">
          {{data[11].headerInfo}}</h3>
        <p  class="text" data-key="12">{{data[11].price}}lv | {{data[11].weight}}gr</p>
        <ul class="product-action" style="text-align: center">
          <a class="link" [routerLink]="['/menu',data[11].headerInfo]"> <button class="button button3" data-key="12">Change</button></a>
          <button  class="button button1" (click)="buyElement($event)">Buy</button>
        </ul>

        <p class="display">Mozzarella, gorgonzola, smoked scamorza, parmesan, cream, arugula, pomegranate.</p>

      </div>
    </li>

  </ul>

</div>
