<form action="/action_page.php">
  <div class="container">
    <h1>Change your password and repeat password!</h1>
    <p>Please fill in this form to updating your passwords.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>

    <p class="p" style="display: none;font-size: 25px" >
      Updated your passwords!
    </p>

    <hr>

    <button type="submit" class="registerbtn" (click)="changing($event)">Changing</button>
  </div>

</form>
